<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Library management system</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a>
          </li>
          <li role="presentation"><a href="#">SignIn</a>
          </li>
        </ul>
      </nav>
      <h3 class="text muted">Library management system</h3>
    </div>
    <div class="jumbotron">
      <h1>Library Management System</h1>
      <p class="lead"></p>
      <p><a class="btn btn-lg btn-success" href="showSignup" role="button">SignUp Now</a>
      </p>
    </div>
    <div class="row marketing">
      <div class="col-lg-6">
        <h4>Borrow details</h4>
        <p>The borrowing of books from this library requires the following information and shall be charged accordingly:</p>
        <ul>
          <li>Students name</li>
          <li>Student ID</li>
          <li>Library account No.</li>
          <li>Book Name</li>
          <li>Book ID</li>
        </ul>
        <h4>Bank Account details</li>
        <ul>
          <li></li>
        </ul>
        <h4>New Stock Entry Details</h4>
        <ul>
          <li></li>
        </ul>
        <h4>New Stock Order Details</h4>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <p>&copy; Enzo 2016</p>
  </div>
</body>
</html>
